<?xml version="1.0"?>
<robot name="firefly" xmlns:xacro="http://ros.org/wiki/xacro">
  <arg name="mav_name" default="firefly"/>
  <arg name="namespace" default="firefly"/>
  <arg name="enable_logging" default="false" />
  <arg name="enable_ground_truth" default="true" />
  <arg name="enable_mavlink_interface" default="false"/>
<!--$(arg mav_name)-->
  <!-- Instantiate the mav with a generic odometry sensor. -->
  <xacro:include filename="$(find rotors_description)/urdf/mav_generic_odometry_sensor.gazebo" />
  <xacro:include filename="$(find rotors_description)/urdf/rgbd_base.xacro" />
  
  <!-- Mount a VI-sensor in front of the Firefly. -->
  <link name="rgbd_camera_uva/base_link">
    <collision>
      <origin xyz="0 -0.0175 0" rpy="${pi/2} 0 ${pi/2}" />
      <geometry>
              <mesh filename="package://rotors_description/meshes/d435_simple.dae" scale="1 1 1" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 -0.0175 0" rpy="${pi/2} 0 ${pi/2}" />
      <geometry>
              <mesh filename="package://rotors_description/meshes/d435_simple.dae" scale="1 1 1" />
      </geometry>
      <material name="black" />
    </visual>
  </link>

  <joint name="camera_joint" type="fixed">
    <origin xyz="0.1 0.0 -0.03" rpy="0.0 ${pi/2 - pi/8} 0.0" />
    <parent link="${namespace}/base_link"/>
    <child link="rgbd_camera_uva/base_link"/>
  </joint>

  <xacro:rgbd_sensor_depth_macro
    namespace="${namespace}/rgbd_uav" parent_link="rgbd_camera_uva/base_link"
    camera_suffix="depth"
    frame_rate="30.0"
    fov = "1.59174"
    baseline = "0.05"
    width = "848"
    height = "480"
    max_range="50.0"
    min_range="0.195">
    <origin xyz="0.1 0.0 -0.03" rpy="-0.0447179 -0.0532737 1.23026" />
  </xacro:rgbd_sensor_depth_macro>


  <!--VI on the hand-->
  <link name="rgbd_camera/base_link">
    <collision>
      <origin xyz="0 -0.0175 0" rpy="${pi/2} 0 ${pi/2}" />
      <geometry>
              <mesh filename="package://rotors_description/meshes/d435_simple.dae" scale="1 1 1" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 -0.0175 0" rpy="${pi/2} 0 ${pi/2}" />
      <geometry>
              <mesh filename="package://rotors_description/meshes/d435_simple.dae" scale="1 1 1" />
      </geometry>
      <material name="black" />
    </visual>
  </link>

  <joint name="camera_hand_joint" type="fixed">
    <origin xyz="0.05 0.02 0.02" rpy="0 0 0" />
    <parent link="ee_link"/>
    <child link="rgbd_camera/base_link"/>
  </joint>

  <xacro:rgbd_sensor_depth_macro
    namespace="${namespace}/rgbd" parent_link="rgbd_camera/base_link"
    camera_suffix="depth"
    frame_rate="30.0"
    fov = "1.59174"
    baseline = "0.05"
    width = "848"
    height = "480"
    max_range="50.0"
    min_range="0.195">
    <origin xyz="0.1 0.0 -0.03" rpy="-0.0447179 -0.0532737 1.23026" />
  </xacro:rgbd_sensor_depth_macro>

  <!--base_groud-->
  <link name="base_groud_link_1">
    <collision>
      <origin xyz="0.0 0.116 -0.11" rpy="0 0 0" />
      <geometry>
        <box size="0.1 0.01 0.001"/>
      </geometry>
    </collision>
  </link>
  <link name="base_groud_link_2">
    <collision>
      <origin xyz="0.0 -0.116 -0.11" rpy="0 0 0" /> <!--0.0 -0.116 -0.166-->
      <geometry>
        <box size="0.1 0.01 0.001"/>
      </geometry>
    </collision>
  </link>
  <joint name="groud_joint_1" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    <parent link="${namespace}/base_link"/>
    <child link="base_groud_link_1"/>
  </joint>
  <joint name="groud_joint_2" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    <parent link="${namespace}/base_link"/>
    <child link="base_groud_link_2"/>
  </joint>
  <!-- ur3 -->
  <!-- common stuff -->
  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />
  <xacro:include filename="$(find ur_description)/urdf/ur3.urdf.xacro" />

  <!-- arm -->
  <xacro:ur3_robot prefix="" joint_limited="true"
    shoulder_pan_lower_limit="${-2*pi}" shoulder_pan_upper_limit="${2*pi}"
    shoulder_lift_lower_limit="${-2*pi}" shoulder_lift_upper_limit="${2*pi}"
    elbow_joint_lower_limit="${-2*pi}" elbow_joint_upper_limit="${2*pi}"
    wrist_1_lower_limit="${-2*pi}" wrist_1_upper_limit="${2*pi}"
    wrist_2_lower_limit="${-2*pi}" wrist_2_upper_limit="${2*pi}"
    wrist_3_lower_limit="${-2*pi}" wrist_3_upper_limit="${2*pi}"
  />

  <joint name="arm_joint" type="fixed">
    <parent link="${namespace}/base_link" />
    <child link= "base_link" />
    <origin xyz="0.0 0.0 -0.004" rpy="0.0 3.14 3.14" />
  </joint><!-- -0.004 -->

  <!-- robotiq 85 -->
  <xacro:include filename="$(find robotiq_85_description)/urdf/robotiq_85_gripper.urdf.xacro" />  
  <xacro:robotiq_85_gripper prefix="" parent="tool0" >
    <origin xyz="0 0 -0.004" rpy="0 0 ${pi/2}"/>
  </xacro:robotiq_85_gripper> 
  <!--using the grasp plugin so that the gripper can grasp things in simulation-->

  <gazebo>
   <plugin name="gazebo_grasp_fix" filename="libgazebo_grasp_fix.so">
       <arm>
           <arm_name>ur</arm_name>
           <palm_link>wrist_3_link</palm_link>
           <gripper_link>robotiq_85_right_finger_tip_link</gripper_link>
           <gripper_link>robotiq_85_left_finger_tip_link</gripper_link>
           <gripper_link>robotiq_85_left_inner_knuckle_link</gripper_link>
           <gripper_link>robotiq_85_right_inner_knuckle_link</gripper_link>
           <gripper_link>robotiq_85_right_knuckle_link</gripper_link>
           <gripper_link>robotiq_85_left_knuckle_link</gripper_link>
       </arm>
       <forces_angle_tolerance>100</forces_angle_tolerance>
       <update_rate>5</update_rate>
       <grip_count_threshold>4</grip_count_threshold>
       <max_grip_count>8</max_grip_count>
       <release_tolerance>0.005</release_tolerance>
       <disable_collisions_on_attach>false</disable_collisions_on_attach>
       <contact_topic>__default_topic__</contact_topic>
    </plugin>
  </gazebo>
</robot>
